<h1>Title:<%= @post.title %></h1>
<p>Content:<%= @post.content %></p>

<% @post.categories.each do |c| %>
    <li><%= c.name %></li>
<% end %>
<% @post.comments.each do |c| %>
    li><%= c.user.username %> says: <%= c.content %></li>
<% end %>
<%= @post.users.uniq.each do |u| %>
    <li><%= link_to u.username, u %></li>
<% end %>
<%= form_for @post.comments.build do |f| %>
  <%= f.label "Comment" %>
  <%= f.text_field :content %>
  <%= f.label "Current User" %>
  <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: true} %>
  <%= f.label "New User" %>
  <%= f.fields_for :user, User.new do |user_attr| %>
      <%= user_attr.text_field :username %>
  <% end %>
  <%= f.hidden_field :post_id %>
  <%= f.submit %>
<% end %>